server/ansible/templates/flow_parts/system/plan_buttons.json.j2
{
    "id": "plan_btn_a1",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "name": "Plan A1 Button",
    "group": "ui_group_system",
    "order": 1,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.isSelected ? '#4a90e2' : '#e0e0e0', 'color': msg.isSelected ? 'white' : '#333333', 'border': msg.isSelected ? '2px solid #2c5aa0' : '1px solid #cccccc' }\" ng-click=\"send({topic: 'A1', payload: 'A1'})\"><i class=\"fa fa-circle\"></i> Plan A1 (1->2, 2->3, 3->1)</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 60,
    "wires": [
        [
            "plan_button_logic"
        ]
    ]
},
{
    "id": "plan_btn_a2",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "name": "Plan A2 Button",
    "group": "ui_group_system",
    "order": 2,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.isSelected ? '#4a90e2' : '#e0e0e0', 'color': msg.isSelected ? 'white' : '#333333', 'border': msg.isSelected ? '2px solid #2c5aa0' : '1px solid #cccccc' }\" ng-click=\"send({topic: 'A2', payload: 'A2'})\"><i class=\"fa fa-circle\"></i> Plan A2 (1->3, 3->2, 2->1)</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 100,
    "wires": [
        [
            "plan_button_logic"
        ]
    ]
},
{
    "id": "plan_btn_b1",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "name": "Plan B1 Button",
    "group": "ui_group_system",
    "order": 3,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.isSelected ? '#4a90e2' : '#e0e0e0', 'color': msg.isSelected ? 'white' : '#333333', 'border': msg.isSelected ? '2px solid #2c5aa0' : '1px solid #cccccc' }\" ng-click=\"send({topic: 'B1', payload: 'B1'})\"><i class=\"fa fa-circle\"></i> Plan B1 (1->2, 2->1)</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 140,
    "wires": [
        [
            "plan_button_logic"
        ]
    ]
},
{
    "id": "plan_btn_b2",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "name": "Plan B2 Button",
    "group": "ui_group_system",
    "order": 4,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.isSelected ? '#4a90e2' : '#e0e0e0', 'color': msg.isSelected ? 'white' : '#333333', 'border': msg.isSelected ? '2px solid #2c5aa0' : '1px solid #cccccc' }\" ng-click=\"send({topic: 'B2', payload: 'B2'})\"><i class=\"fa fa-circle\"></i> Plan B2 (1->3, 3->1)</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 180,
    "wires": [
        [
            "plan_button_logic"
        ]
    ]
},
{
    "id": "plan_btn_b3",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "name": "Plan B3 Button",
    "group": "ui_group_system",
    "order": 5,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.isSelected ? '#4a90e2' : '#e0e0e0', 'color': msg.isSelected ? 'white' : '#333333', 'border': msg.isSelected ? '2px solid #2c5aa0' : '1px solid #cccccc' }\" ng-click=\"send({topic: 'B3', payload: 'B3'})\"><i class=\"fa fa-circle\"></i> Plan B3 (2->3, 3->2)</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 220,
    "wires": [
        [
            "plan_button_logic"
        ]
    ]
},
{
    "id": "plan_btn_c",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "name": "Plan C Button",
    "group": "ui_group_system",
    "order": 6,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.isSelected ? '#4a90e2' : '#e0e0e0', 'color': msg.isSelected ? 'white' : '#333333', 'border': msg.isSelected ? '2px solid #2c5aa0' : '1px solid #cccccc' }\" ng-click=\"send({topic: 'C', payload: 'C'})\"><i class=\"fa fa-circle\"></i> Plan C (All Mics to All Speakers)</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 260,
    "wires": [
        [
            "plan_button_logic"
        ]
    ]
},
{
    "id": "plan_btn_d",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "name": "Plan D Button",
    "group": "ui_group_system",
    "order": 7,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-style=\"{ 'background-color': msg.isSelected ? '#4a90e2' : '#e0e0e0', 'color': msg.isSelected ? 'white' : '#333333', 'border': msg.isSelected ? '2px solid #2c5aa0' : '1px solid #cccccc' }\" ng-click=\"send({topic: 'D', payload: 'D'})\"><i class=\"fa fa-circle\"></i> Plan D (Local Playback)</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 300,
    "wires": [
        [
            "plan_button_logic"
        ]
    ]
},
{
    "id": "plan_a1_state",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update A1 Button State",
    "func": "msg.isSelected = (msg.payload === 'A1');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 360,
    "wires": [["plan_btn_a1"]]
},
{
    "id": "plan_a2_state",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update A2 Button State",
    "func": "msg.isSelected = (msg.payload === 'A2');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 400,
    "wires": [["plan_btn_a2"]]
},
{
    "id": "plan_b1_state",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update B1 Button State",
    "func": "msg.isSelected = (msg.payload === 'B1');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 360,
    "wires": [["plan_btn_b1"]]
},
{
    "id": "plan_b2_state",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update B2 Button State",
    "func": "msg.isSelected = (msg.payload === 'B2');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 400,
    "wires": [["plan_btn_b2"]]
},
{
    "id": "plan_b3_state",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update B3 Button State",
    "func": "msg.isSelected = (msg.payload === 'B3');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 440,
    "wires": [["plan_btn_b3"]]
},
{
    "id": "plan_c_state",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update C Button State",
    "func": "msg.isSelected = (msg.payload === 'C');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 840,
    "y": 360,
    "wires": [["plan_btn_c"]]
},
{
    "id": "plan_d_state",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Update D Button State",
    "func": "msg.isSelected = (msg.payload === 'D');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 840,
    "y": 400,
    "wires": [["plan_btn_d"]]
} 