server/nodered/flow.json
[
    {
        "id": "sculpture_dashboard",
        "type": "tab",
        "label": "Sculpture Control Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Sculpture MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node-red-dashboard",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ui_group_sculpture1",
        "type": "ui_group",
        "name": "Sculpture 1",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_sculpture2",
        "type": "ui_group",
        "name": "Sculpture 2", 
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_sculpture3",
        "type": "ui_group",
        "name": "Sculpture 3",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_system",
        "type": "ui_group",
        "name": "System Control",
        "tab": "ui_tab_main",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Sculpture System",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "volume_slider_1",
        "type": "ui_slider",
        "z": "sculpture_dashboard",
        "name": "Volume 1",
        "label": "Volume",
        "tooltip": "",
        "group": "ui_group_sculpture1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "sculpture/1/cmd",
        "min": 0,
        "max": 1,
        "step": 0.01,
        "x": 200,
        "y": 100,
        "wires": [["volume_format_1"]]
    },
    {
        "id": "volume_format_1",
        "type": "function",
        "z": "sculpture_dashboard",
        "name": "Format Volume Command",
        "func": "msg.payload = {\"volume\": msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 100,
        "wires": [["mqtt_out_1"]]
    },
    {
        "id": "mqtt_out_1",
        "type": "mqtt out",
        "z": "sculpture_dashboard",
        "name": "Send to Sculpture 1",
        "topic": "sculpture/1/cmd",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "volume_slider_2",
        "type": "ui_slider",
        "z": "sculpture_dashboard",
        "name": "Volume 2",
        "label": "Volume",
        "tooltip": "",
        "group": "ui_group_sculpture2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "sculpture/2/cmd",
        "min": 0,
        "max": 1,
        "step": 0.01,
        "x": 200,
        "y": 200,
        "wires": [["volume_format_2"]]
    },
    {
        "id": "volume_format_2",
        "type": "function",
        "z": "sculpture_dashboard",
        "name": "Format Volume Command",
        "func": "msg.payload = {\"volume\": msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 200,
        "wires": [["mqtt_out_2"]]
    },
    {
        "id": "mqtt_out_2",
        "type": "mqtt out",
        "z": "sculpture_dashboard",
        "name": "Send to Sculpture 2",
        "topic": "sculpture/2/cmd",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "volume_slider_3",
        "type": "ui_slider",
        "z": "sculpture_dashboard",
        "name": "Volume 3",
        "label": "Volume",
        "tooltip": "",
        "group": "ui_group_sculpture3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "sculpture/3/cmd",
        "min": 0,
        "max": 1,
        "step": 0.01,
        "x": 200,
        "y": 300,
        "wires": [["volume_format_3"]]
    },
    {
        "id": "volume_format_3",
        "type": "function",
        "z": "sculpture_dashboard",
        "name": "Format Volume Command",
        "func": "msg.payload = {\"volume\": msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 300,
        "wires": [["mqtt_out_3"]]
    },
    {
        "id": "mqtt_out_3",
        "type": "mqtt out",
        "z": "sculpture_dashboard",
        "name": "Send to Sculpture 3",
        "topic": "sculpture/3/cmd",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "mode_switch",
        "type": "ui_switch",
        "z": "sculpture_dashboard",
        "name": "System Mode",
        "label": "Live Mode",
        "tooltip": "Toggle between Live and Local mode",
        "group": "ui_group_system",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "system/broadcast",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-microphone",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-music",
        "offcolor": "blue",
        "x": 200,
        "y": 400,
        "wires": [["mode_format"]]
    },
    {
        "id": "mode_format",
        "type": "function",
        "z": "sculpture_dashboard",
        "name": "Format Mode Command",
        "func": "var mode = msg.payload ? \"live\" : \"local\";\nmsg.payload = {\"mode\": mode};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 400,
        "wires": [["mqtt_broadcast"]]
    },
    {
        "id": "mqtt_broadcast",
        "type": "mqtt out",
        "z": "sculpture_dashboard",
        "name": "Broadcast Mode",
        "topic": "system/broadcast",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "status_in_1",
        "type": "mqtt in",
        "z": "sculpture_dashboard",
        "name": "Status 1",
        "topic": "sculpture/1/status",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 100,
        "y": 500,
        "wires": [["status_parse_1"]]
    },
    {
        "id": "status_parse_1",
        "type": "function",
        "z": "sculpture_dashboard",
        "name": "Parse Status 1",
        "func": "var data = msg.payload;\nreturn [\n    {payload: data.cpu_usage, topic: \"cpu\"},\n    {payload: data.temperature, topic: \"temp\"}\n];",
        "outputs": 2,
        "noerr": 0,
        "x": 300,
        "y": 500,
        "wires": [["cpu_gauge_1"], ["temp_gauge_1"]]
    },
    {
        "id": "cpu_gauge_1",
        "type": "ui_gauge",
        "z": "sculpture_dashboard",
        "name": "CPU 1",
        "group": "ui_group_sculpture1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU %",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "50",
        "seg2": "80",
        "x": 500,
        "y": 480,
        "wires": []
    },
    {
        "id": "temp_gauge_1",
        "type": "ui_gauge",
        "z": "sculpture_dashboard",
        "name": "Temp 1",
        "group": "ui_group_sculpture1",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "85",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "60",
        "seg2": "75",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "status_in_2",
        "type": "mqtt in",
        "z": "sculpture_dashboard",
        "name": "Status 2",
        "topic": "sculpture/2/status",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 100,
        "y": 600,
        "wires": [["status_parse_2"]]
    },
    {
        "id": "status_parse_2",
        "type": "function",
        "z": "sculpture_dashboard",
        "name": "Parse Status 2",
        "func": "var data = msg.payload;\nreturn [\n    {payload: data.cpu_usage, topic: \"cpu\"},\n    {payload: data.temperature, topic: \"temp\"}\n];",
        "outputs": 2,
        "noerr": 0,
        "x": 300,
        "y": 600,
        "wires": [["cpu_gauge_2"], ["temp_gauge_2"]]
    },
    {
        "id": "cpu_gauge_2",
        "type": "ui_gauge",
        "z": "sculpture_dashboard",
        "name": "CPU 2",
        "group": "ui_group_sculpture2",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU %",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "50",
        "seg2": "80",
        "x": 500,
        "y": 580,
        "wires": []
    },
    {
        "id": "temp_gauge_2",
        "type": "ui_gauge",
        "z": "sculpture_dashboard",
        "name": "Temp 2",
        "group": "ui_group_sculpture2",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "85",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "60",
        "seg2": "75",
        "x": 500,
        "y": 620,
        "wires": []
    },
    {
        "id": "status_in_3",
        "type": "mqtt in",
        "z": "sculpture_dashboard",
        "name": "Status 3",
        "topic": "sculpture/3/status",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 100,
        "y": 700,
        "wires": [["status_parse_3"]]
    },
    {
        "id": "status_parse_3",
        "type": "function",
        "z": "sculpture_dashboard",
        "name": "Parse Status 3",
        "func": "var data = msg.payload;\nreturn [\n    {payload: data.cpu_usage, topic: \"cpu\"},\n    {payload: data.temperature, topic: \"temp\"}\n];",
        "outputs": 2,
        "noerr": 0,
        "x": 300,
        "y": 700,
        "wires": [["cpu_gauge_3"], ["temp_gauge_3"]]
    },
    {
        "id": "cpu_gauge_3",
        "type": "ui_gauge",
        "z": "sculpture_dashboard",
        "name": "CPU 3",
        "group": "ui_group_sculpture3",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU %",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "50",
        "seg2": "80",
        "x": 500,
        "y": 680,
        "wires": []
    },
    {
        "id": "temp_gauge_3",
        "type": "ui_gauge",
        "z": "sculpture_dashboard",
        "name": "Temp 3",
        "group": "ui_group_sculpture3",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "85",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "60",
        "seg2": "75",
        "x": 500,
        "y": 720,
        "wires": []
    },
    {
        "id": "emergency_stop",
        "type": "ui_button",
        "z": "sculpture_dashboard",
        "name": "Emergency Stop",
        "group": "ui_group_system",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "EMERGENCY STOP",
        "tooltip": "Stop all audio immediately",
        "color": "white",
        "bgcolor": "red",
        "icon": "fa-stop",
        "payload": "{\"mode\":\"local\",\"volume\":0}",
        "payloadType": "json",
        "topic": "system/broadcast",
        "x": 200,
        "y": 800,
        "wires": [["mqtt_broadcast"]]
    }
] 