server/debug_audio.json
[

{
    "id": "compress_ratio_slider",
    "type": "ui_slider",
    "z": "sculpture_dashboard",
    "name": "Compression Ratio",
    "label": "Compression Ratio: 1:1 ←→ 10:1",
    "tooltip": "Audio compression ratio (1:1 to 10:1)",
    "group": "ui_group_audio",
    "order": 1,
    "width": 12,
    "height": 1,
    "passthru": true,
    "outs": "all",
    "topic": "system/audio/compress_ratio",
    "topicType": "str",
    "min": 1,
    "max": 10,
    "step": 0.1,
    "range": "min,max",
    "value": 3.0,
    "color": "#FF5722",
    "colorBackground": "#e0e0e0",
    "x": 200,
    "y": 100,
    "wires": [["compress_ratio_format", "compress_ratio_display"]]
},
{
    "id": "set_initial_compress_ratio_link_in",
    "type": "link in",
    "z": "sculpture_dashboard",
    "name": "set_initial_compress_ratio_link_in",
    "links": ["set_initial_compress_ratio_link_out"],
    "x": 100,
    "y": 100,
    "wires": [["compress_ratio_slider", "compress_ratio_display"]]
},

{
    "id": "compress_threshold_slider",
    "type": "ui_slider",
    "z": "sculpture_dashboard",
    "name": "Compression Threshold",
    "label": "Compression Threshold: -30dB ←→ 0dB",
    "tooltip": "Audio compression threshold in dB",
    "group": "ui_group_audio",
    "order": 3,
    "width": 12,
    "height": 1,
    "passthru": true,
    "outs": "all",
    "topic": "system/audio/compress_threshold",
    "topicType": "str",
    "min": -30,
    "max": 0,
    "step": 1,
    "range": "min,max",
    "value": -12.0,
    "color": "#FF5722",
    "colorBackground": "#e0e0e0",
    "x": 200,
    "y": 180,
    "wires": [["compress_threshold_format", "compress_threshold_display"]]
},
{
    "id": "set_initial_compress_threshold_link_in",
    "type": "link in",
    "z": "sculpture_dashboard",
    "name": "set_initial_compress_threshold_link_in",
    "links": ["set_initial_compress_threshold_link_out"],
    "x": 100,
    "y": 180,
    "wires": [["compress_threshold_slider", "compress_threshold_display"]]
},

{
    "id": "attack_time_slider",
    "type": "ui_slider",
    "z": "sculpture_dashboard",
    "name": "Attack Time",
    "label": "Attack Time: 0.01s ←→ 1.0s",
    "tooltip": "Compressor attack time in seconds",
    "group": "ui_group_audio",
    "order": 5,
    "width": 12,
    "height": 1,
    "passthru": true,
    "outs": "all",
    "topic": "system/audio/attack_time",
    "topicType": "str",
    "min": 0.01,
    "max": 1,
    "step": 0.01,
    "range": "min,max",
    "value": 0.1,
    "color": "#FF5722",
    "colorBackground": "#e0e0e0",
    "x": 200,
    "y": 260,
    "wires": [["attack_time_format", "attack_time_display"]]
},
{
    "id": "set_initial_attack_time_link_in",
    "type": "link in",
    "z": "sculpture_dashboard",
    "name": "set_initial_attack_time_link_in",
    "links": ["set_initial_attack_time_link_out"],
    "x": 100,
    "y": 260,
    "wires": [["attack_time_slider", "attack_time_display"]]
},

{
    "id": "release_time_slider",
    "type": "ui_slider",
    "z": "sculpture_dashboard",
    "name": "Release Time",
    "label": "Release Time: 0.1s ←→ 5.0s",
    "tooltip": "Compressor release time in seconds",
    "group": "ui_group_audio",
    "order": 7,
    "width": 12,
    "height": 1,
    "passthru": true,
    "outs": "all",
    "topic": "system/audio/release_time",
    "topicType": "str",
    "min": 0.1,
    "max": 5,
    "step": 0.1,
    "range": "min,max",
    "value": 0.5,
    "color": "#FF5722",
    "colorBackground": "#e0e0e0",
    "x": 200,
    "y": 340,
    "wires": [["release_time_format", "release_time_display"]]
},
{
    "id": "set_initial_release_time_link_in",
    "type": "link in",
    "z": "sculpture_dashboard",
    "name": "set_initial_release_time_link_in",
    "links": ["set_initial_release_time_link_out"],
    "x": 100,
    "y": 340,
    "wires": [["release_time_slider", "release_time_display"]]
},

{
    "id": "highpass_freq_slider",
    "type": "ui_slider",
    "z": "sculpture_dashboard",
    "name": "High-pass Frequency",
    "label": "High-pass Frequency: 20Hz ←→ 500Hz",
    "tooltip": "High-pass filter frequency in Hz",
    "group": "ui_group_audio",
    "order": 9,
    "width": 12,
    "height": 1,
    "passthru": true,
    "outs": "all",
    "topic": "system/audio/highpass_freq",
    "topicType": "str",
    "min": 20,
    "max": 500,
    "step": 5,
    "range": "min,max",
    "value": 80.0,
    "color": "#2196F3",
    "colorBackground": "#e0e0e0",
    "x": 200,
    "y": 420,
    "wires": [["highpass_freq_format", "highpass_freq_display"]]
},
{
    "id": "set_initial_highpass_freq_link_in",
    "type": "link in",
    "z": "sculpture_dashboard",
    "name": "set_initial_highpass_freq_link_in",
    "links": ["set_initial_highpass_freq_link_out"],
    "x": 100,
    "y": 420,
    "wires": [["highpass_freq_slider", "highpass_freq_display"]]
},

{
    "id": "lowpass_freq_slider",
    "type": "ui_slider",
    "z": "sculpture_dashboard",
    "name": "Low-pass Frequency",
    "label": "Low-pass Frequency: 1kHz ←→ 20kHz",
    "tooltip": "Low-pass filter frequency in Hz",
    "group": "ui_group_audio",
    "order": 11,
    "width": 12,
    "height": 1,
    "passthru": true,
    "outs": "all",
    "topic": "system/audio/lowpass_freq",
    "topicType": "str",
    "min": 1000,
    "max": 20000,
    "step": 100,
    "range": "min,max",
    "value": 8000.0,
    "color": "#2196F3",
    "colorBackground": "#e0e0e0",
    "x": 200,
    "y": 500,
    "wires": [["lowpass_freq_format", "lowpass_freq_display"]]
},
{
    "id": "set_initial_lowpass_freq_link_in",
    "type": "link in",
    "z": "sculpture_dashboard",
    "name": "set_initial_lowpass_freq_link_in",
    "links": ["set_initial_lowpass_freq_link_out"],
    "x": 100,
    "y": 500,
    "wires": [["lowpass_freq_slider", "lowpass_freq_display"]]
},

{
    "id": "delay_time_slider",
    "type": "ui_slider",
    "z": "sculpture_dashboard",
    "name": "Delay Time",
    "label": "Delay Time: 0ms ←→ 2000ms",
    "tooltip": "Delay effect time in milliseconds",
    "group": "ui_group_audio",
    "order": 13,
    "width": 12,
    "height": 1,
    "passthru": true,
    "outs": "all",
    "topic": "system/audio/delay_time",
    "topicType": "str",
    "min": 0,
    "max": 2000,
    "step": 10,
    "range": "min,max",
    "value": 0.0,
    "color": "#4CAF50",
    "colorBackground": "#e0e0e0",
    "x": 200,
    "y": 580,
    "wires": [["delay_time_format", "delay_time_display"]]
},
{
    "id": "set_initial_delay_time_link_in",
    "type": "link in",
    "z": "sculpture_dashboard",
    "name": "set_initial_delay_time_link_in",
    "links": ["set_initial_delay_time_link_out"],
    "x": 100,
    "y": 580,
    "wires": [["delay_time_slider", "delay_time_display"]]
},

{
    "id": "delay_feedback_slider",
    "type": "ui_slider",
    "z": "sculpture_dashboard",
    "name": "Delay Feedback",
    "label": "Delay Feedback: 0% ←→ 90%",
    "tooltip": "Delay effect feedback amount",
    "group": "ui_group_audio",
    "order": 15,
    "width": 12,
    "height": 1,
    "passthru": true,
    "outs": "all",
    "topic": "system/audio/delay_feedback",
    "topicType": "str",
    "min": 0,
    "max": 0.9,
    "step": 0.05,
    "range": "min,max",
    "value": 0.0,
    "color": "#4CAF50",
    "colorBackground": "#e0e0e0",
    "x": 200,
    "y": 660,
    "wires": [["delay_feedback_format", "delay_feedback_display"]]
},
{
    "id": "set_initial_delay_feedback_link_in",
    "type": "link in",
    "z": "sculpture_dashboard",
    "name": "set_initial_delay_feedback_link_in",
    "links": ["set_initial_delay_feedback_link_out"],
    "x": 100,
    "y": 660,
    "wires": [["delay_feedback_slider", "delay_feedback_display"]]
},

{
    "id": "gate_threshold_slider",
    "type": "ui_slider",
    "z": "sculpture_dashboard",
    "name": "Gate Threshold",
    "label": "Gate Threshold: -60dB ←→ -10dB",
    "tooltip": "Noise gate threshold in dB",
    "group": "ui_group_audio",
    "order": 17,
    "width": 12,
    "height": 1,
    "passthru": true,
    "outs": "all",
    "topic": "system/audio/gate_threshold",
    "topicType": "str",
    "min": -60,
    "max": -10,
    "step": 1,
    "range": "min,max",
    "value": -40.0,
    "color": "#9C27B0",
    "colorBackground": "#e0e0e0",
    "x": 200,
    "y": 740,
    "wires": [["gate_threshold_format", "gate_threshold_display"]]
},
{
    "id": "set_initial_gate_threshold_link_in",
    "type": "link in",
    "z": "sculpture_dashboard",
    "name": "set_initial_gate_threshold_link_in",
    "links": ["set_initial_gate_threshold_link_out"],
    "x": 100,
    "y": 740,
    "wires": [["gate_threshold_slider", "gate_threshold_display"]]
},

{
    "id": "normalize_target_slider",
    "type": "ui_slider",
    "z": "sculpture_dashboard",
    "name": "Normalize Target",
    "label": "Normalize Target: -24dB ←→ -6dB",
    "tooltip": "Normalization target level in dB",
    "group": "ui_group_audio",
    "order": 19,
    "width": 12,
    "height": 1,
    "passthru": true,
    "outs": "all",
    "topic": "system/audio/normalize_target",
    "topicType": "str",
    "min": -24,
    "max": -6,
    "step": 1,
    "range": "min,max",
    "value": -14.0,
    "color": "#607D8B",
    "colorBackground": "#e0e0e0",
    "x": 200,
    "y": 820,
    "wires": [["normalize_target_format", "normalize_target_display"]]
},
{
    "id": "set_initial_normalize_target_link_in",
    "type": "link in",
    "z": "sculpture_dashboard",
    "name": "set_initial_normalize_target_link_in",
    "links": ["set_initial_normalize_target_link_out"],
    "x": 100,
    "y": 820,
    "wires": [["normalize_target_slider", "normalize_target_display"]]
}
 ,

{
    "id": "compress_ratio_display",
    "type": "ui_text",
    "z": "sculpture_dashboard",
    "group": "ui_group_audio",
    "order": 2,
    "width": 12,
    "height": 1,
    "name": "Compression Ratio Value",
    "label": "Current Value:",
    "format": "{{ "{{" }}msg.payload{{ "}}" }}:1",
    "layout": "row-spread",
    "x": 400,
    "y": 100,
    "wires": []
},

{
    "id": "compress_threshold_display",
    "type": "ui_text",
    "z": "sculpture_dashboard",
    "group": "ui_group_audio",
    "order": 4,
    "width": 12,
    "height": 1,
    "name": "Compression Threshold Value",
    "label": "Current Value:",
    "format": "{{ "{{" }}msg.payload{{ "}}" }}dB",
    "layout": "row-spread",
    "x": 400,
    "y": 180,
    "wires": []
},

{
    "id": "attack_time_display",
    "type": "ui_text",
    "z": "sculpture_dashboard",
    "group": "ui_group_audio",
    "order": 6,
    "width": 12,
    "height": 1,
    "name": "Attack Time Value",
    "label": "Current Value:",
    "format": "{{ "{{" }}msg.payload{{ "}}" }}s",
    "layout": "row-spread",
    "x": 400,
    "y": 260,
    "wires": []
},

{
    "id": "release_time_display",
    "type": "ui_text",
    "z": "sculpture_dashboard",
    "group": "ui_group_audio",
    "order": 8,
    "width": 12,
    "height": 1,
    "name": "Release Time Value",
    "label": "Current Value:",
    "format": "{{ "{{" }}msg.payload{{ "}}" }}s",
    "layout": "row-spread",
    "x": 400,
    "y": 340,
    "wires": []
},

{
    "id": "highpass_freq_display",
    "type": "ui_text",
    "z": "sculpture_dashboard",
    "group": "ui_group_audio",
    "order": 10,
    "width": 12,
    "height": 1,
    "name": "High-pass Frequency Value",
    "label": "Current Value:",
    "format": "{{ "{{" }}msg.payload{{ "}}" }}Hz",
    "layout": "row-spread",
    "x": 400,
    "y": 420,
    "wires": []
},

{
    "id": "lowpass_freq_display",
    "type": "ui_text",
    "z": "sculpture_dashboard",
    "group": "ui_group_audio",
    "order": 12,
    "width": 12,
    "height": 1,
    "name": "Low-pass Frequency Value",
    "label": "Current Value:",
    "format": "{{ "{{" }}msg.payload{{ "}}" }}Hz",
    "layout": "row-spread",
    "x": 400,
    "y": 500,
    "wires": []
},

{
    "id": "delay_time_display",
    "type": "ui_text",
    "z": "sculpture_dashboard",
    "group": "ui_group_audio",
    "order": 14,
    "width": 12,
    "height": 1,
    "name": "Delay Time Value",
    "label": "Current Value:",
    "format": "{{ "{{" }}msg.payload{{ "}}" }}ms",
    "layout": "row-spread",
    "x": 400,
    "y": 580,
    "wires": []
},

{
    "id": "delay_feedback_display",
    "type": "ui_text",
    "z": "sculpture_dashboard",
    "group": "ui_group_audio",
    "order": 16,
    "width": 12,
    "height": 1,
    "name": "Delay Feedback Value",
    "label": "Current Value:",
    "format": "{{ "{{" }}msg.payload * 100{{ "}}" }}%",
    "layout": "row-spread",
    "x": 400,
    "y": 660,
    "wires": []
},

{
    "id": "gate_threshold_display",
    "type": "ui_text",
    "z": "sculpture_dashboard",
    "group": "ui_group_audio",
    "order": 18,
    "width": 12,
    "height": 1,
    "name": "Gate Threshold Value",
    "label": "Current Value:",
    "format": "{{ "{{" }}msg.payload{{ "}}" }}dB",
    "layout": "row-spread",
    "x": 400,
    "y": 740,
    "wires": []
},

{
    "id": "normalize_target_display",
    "type": "ui_text",
    "z": "sculpture_dashboard",
    "group": "ui_group_audio",
    "order": 20,
    "width": 12,
    "height": 1,
    "name": "Normalize Target Value",
    "label": "Current Value:",
    "format": "{{ "{{" }}msg.payload{{ "}}" }}dB",
    "layout": "row-spread",
    "x": 400,
    "y": 820,
    "wires": []
}
 ,

{
    "id": "compress_ratio_format",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format Compression Ratio",
    "func": "msg.payload = {\"compress_ratio\": msg.payload};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 100,
    "wires": [["audio_mqtt_out"]]
},

{
    "id": "compress_threshold_format",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format Compression Threshold",
    "func": "msg.payload = {\"compress_threshold\": msg.payload};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 180,
    "wires": [["audio_mqtt_out"]]
},

{
    "id": "attack_time_format",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format Attack Time",
    "func": "msg.payload = {\"attack_time\": msg.payload};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 260,
    "wires": [["audio_mqtt_out"]]
},

{
    "id": "release_time_format",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format Release Time",
    "func": "msg.payload = {\"release_time\": msg.payload};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 340,
    "wires": [["audio_mqtt_out"]]
},

{
    "id": "highpass_freq_format",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format High-pass Frequency",
    "func": "msg.payload = {\"highpass_freq\": msg.payload};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 420,
    "wires": [["audio_mqtt_out"]]
},

{
    "id": "lowpass_freq_format",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format Low-pass Frequency",
    "func": "msg.payload = {\"lowpass_freq\": msg.payload};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 500,
    "wires": [["audio_mqtt_out"]]
},

{
    "id": "delay_time_format",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format Delay Time",
    "func": "msg.payload = {\"delay_time\": msg.payload / 1000};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 580,
    "wires": [["audio_mqtt_out"]]
},

{
    "id": "delay_feedback_format",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format Delay Feedback",
    "func": "msg.payload = {\"delay_feedback\": msg.payload};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 660,
    "wires": [["audio_mqtt_out"]]
},

{
    "id": "gate_threshold_format",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format Gate Threshold",
    "func": "msg.payload = {\"gate_threshold\": msg.payload};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 740,
    "wires": [["audio_mqtt_out"]]
},

{
    "id": "normalize_target_format",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format Normalize Target",
    "func": "msg.payload = {\"normalize_target\": msg.payload};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 820,
    "wires": [["audio_mqtt_out"]]
}
 ,{
    "id": "audio_mqtt_out",
    "type": "mqtt out",
    "z": "sculpture_dashboard",
    "name": "Send Audio Commands",
    "topic": "system/audio/cmd",
    "qos": "0",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 840,
    "y": 400,
    "wires": []
},
{
    "id": "audio_reset_button",
    "type": "ui_button",
    "z": "sculpture_dashboard",
    "name": "Reset Audio",
    "group": "ui_group_audio",
    "order": 21,
    "width": 12,
    "height": 1,
    "passthru": false,
    "label": "🔄 Reset to Defaults",
    "tooltip": "Reset all audio processing to default values",
    "color": "white",
    "bgcolor": "#FF9800",
    "icon": "",
    "payload": "reset",
    "payloadType": "str",
    "topic": "system/audio/reset",
    "topicType": "str",
    "x": 200,
    "y": 900,
    "wires": [["audio_reset_format"]]
},
{
    "id": "audio_reset_format",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format Reset Command",
    "func": "msg.payload = {\"reset\": true};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 900,
    "wires": [["audio_mqtt_out"]]
}, ,

{
    "id": "set_initial_compress_ratio",
    "type": "inject",
    "z": "sculpture_dashboard",
    "name": "Set Initial Compress Ratio (3.0)",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2.5",
    "topic": "",
    "payload": "3.0",
    "payloadType": "num",
    "x": 160,
    "y": 300,
    "wires": [["set_initial_compress_ratio_link_out"]]
},
{
    "id": "set_initial_compress_ratio_link_out",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "set_initial_compress_ratio_link_out",
    "links": ["set_initial_compress_ratio_link_in"],
    "x": 500,
    "y": 300,
    "wires": []
},

{
    "id": "set_initial_compress_threshold",
    "type": "inject",
    "z": "sculpture_dashboard",
    "name": "Set Initial Compress Threshold (-12.0)",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2.6",
    "topic": "",
    "payload": "-12.0",
    "payloadType": "num",
    "x": 160,
    "y": 340,
    "wires": [["set_initial_compress_threshold_link_out"]]
},
{
    "id": "set_initial_compress_threshold_link_out",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "set_initial_compress_threshold_link_out",
    "links": ["set_initial_compress_threshold_link_in"],
    "x": 500,
    "y": 340,
    "wires": []
},

{
    "id": "set_initial_attack_time",
    "type": "inject",
    "z": "sculpture_dashboard",
    "name": "Set Initial Attack Time (0.1)",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2.7",
    "topic": "",
    "payload": "0.1",
    "payloadType": "num",
    "x": 160,
    "y": 380,
    "wires": [["set_initial_attack_time_link_out"]]
},
{
    "id": "set_initial_attack_time_link_out",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "set_initial_attack_time_link_out",
    "links": ["set_initial_attack_time_link_in"],
    "x": 500,
    "y": 380,
    "wires": []
},

{
    "id": "set_initial_release_time",
    "type": "inject",
    "z": "sculpture_dashboard",
    "name": "Set Initial Release Time (0.5)",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2.8",
    "topic": "",
    "payload": "0.5",
    "payloadType": "num",
    "x": 160,
    "y": 420,
    "wires": [["set_initial_release_time_link_out"]]
},
{
    "id": "set_initial_release_time_link_out",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "set_initial_release_time_link_out",
    "links": ["set_initial_release_time_link_in"],
    "x": 500,
    "y": 420,
    "wires": []
},

{
    "id": "set_initial_highpass_freq",
    "type": "inject",
    "z": "sculpture_dashboard",
    "name": "Set Initial Highpass Freq (80.0)",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2.9",
    "topic": "",
    "payload": "80.0",
    "payloadType": "num",
    "x": 160,
    "y": 460,
    "wires": [["set_initial_highpass_freq_link_out"]]
},
{
    "id": "set_initial_highpass_freq_link_out",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "set_initial_highpass_freq_link_out",
    "links": ["set_initial_highpass_freq_link_in"],
    "x": 500,
    "y": 460,
    "wires": []
},

{
    "id": "set_initial_lowpass_freq",
    "type": "inject",
    "z": "sculpture_dashboard",
    "name": "Set Initial Lowpass Freq (8000.0)",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "3.0",
    "topic": "",
    "payload": "8000.0",
    "payloadType": "num",
    "x": 160,
    "y": 500,
    "wires": [["set_initial_lowpass_freq_link_out"]]
},
{
    "id": "set_initial_lowpass_freq_link_out",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "set_initial_lowpass_freq_link_out",
    "links": ["set_initial_lowpass_freq_link_in"],
    "x": 500,
    "y": 500,
    "wires": []
},

{
    "id": "set_initial_delay_time",
    "type": "inject",
    "z": "sculpture_dashboard",
    "name": "Set Initial Delay Time (0.0)",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "3.1",
    "topic": "",
    "payload": "0.0",
    "payloadType": "num",
    "x": 160,
    "y": 540,
    "wires": [["set_initial_delay_time_link_out"]]
},
{
    "id": "set_initial_delay_time_link_out",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "set_initial_delay_time_link_out",
    "links": ["set_initial_delay_time_link_in"],
    "x": 500,
    "y": 540,
    "wires": []
},

{
    "id": "set_initial_delay_feedback",
    "type": "inject",
    "z": "sculpture_dashboard",
    "name": "Set Initial Delay Feedback (0.0)",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "3.2",
    "topic": "",
    "payload": "0.0",
    "payloadType": "num",
    "x": 160,
    "y": 580,
    "wires": [["set_initial_delay_feedback_link_out"]]
},
{
    "id": "set_initial_delay_feedback_link_out",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "set_initial_delay_feedback_link_out",
    "links": ["set_initial_delay_feedback_link_in"],
    "x": 500,
    "y": 580,
    "wires": []
},

{
    "id": "set_initial_gate_threshold",
    "type": "inject",
    "z": "sculpture_dashboard",
    "name": "Set Initial Gate Threshold (-40.0)",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "3.3",
    "topic": "",
    "payload": "-40.0",
    "payloadType": "num",
    "x": 160,
    "y": 620,
    "wires": [["set_initial_gate_threshold_link_out"]]
},
{
    "id": "set_initial_gate_threshold_link_out",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "set_initial_gate_threshold_link_out",
    "links": ["set_initial_gate_threshold_link_in"],
    "x": 500,
    "y": 620,
    "wires": []
},

{
    "id": "set_initial_normalize_target",
    "type": "inject",
    "z": "sculpture_dashboard",
    "name": "Set Initial Normalize Target (-14.0)",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "3.4",
    "topic": "",
    "payload": "-14.0",
    "payloadType": "num",
    "x": 160,
    "y": 660,
    "wires": [["set_initial_normalize_target_link_out"]]
},
{
    "id": "set_initial_normalize_target_link_out",
    "type": "link out",
    "z": "sculpture_dashboard",
    "name": "set_initial_normalize_target_link_out",
    "links": ["set_initial_normalize_target_link_in"],
    "x": 500,
    "y": 660,
    "wires": []
}
 ]