server/node-red/flow_parts/sculpture/tracks.json.j2
{% for sculpture_id in [1, 2, 3] %}
{
    "id": "track_selector_{{ sculpture_id }}",
    "type": "ui_dropdown",
    "z": "sculpture_dashboard",
    "name": "Samples/Playlists {{ sculpture_id }}",
    "label": "Samples/Playlists",
    "tooltip": "Select a sample or playlist to play on sculpture {{ sculpture_id }}",
    "place": "Select sample or playlist",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "multiple": false,
    "options": [],
    "payload": "",
    "topic": "sculpture/{{ sculpture_id }}/selected_track",
    "x": 190,
    "y": 660,
    "wires": [["debug_dropdown_selection_{{ sculpture_id }}", "store_selected_track_{{ sculpture_id }}"]]
},
{
    "id": "debug_dropdown_selection_{{ sculpture_id }}",
    "type": "debug",
    "z": "sculpture_dashboard",
    "name": "Debug Dropdown Selection {{ sculpture_id }}",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 400,
    "y": 620,
    "wires": []
},
{
    "id": "load_track_button_{{ sculpture_id }}",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "name": "Load Track/Playlist Button",
    "order": 5,
    "width": 6,
    "height": 1,
    "format": "{% raw %}<md-button class=\"md-raised\" ng-disabled=\"msg.mode === 'live'\" ng-style=\"{'opacity': msg.mode === 'live' ? 0.4 : 1.0}\" ng-click=\"send({payload: ''})\"><i class=\"fa fa-play\"></i> LOAD CONTENT</md-button>{% endraw %}",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 180,
    "y": 700,
    "wires": [["prepare_load_track_cmd_{{ sculpture_id }}"]]
},
{
    "id": "prepare_load_track_cmd_{{ sculpture_id }}",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Prepare Load Track/Playlist Command {{ sculpture_id }}",
    "func": "var selectedItem = flow.get('selected_track_{{ sculpture_id }}');\n\n// Debug: Show all stored selections\nnode.warn('=== DEBUG: All stored selections ===');\nfor (var i = 1; i <= 3; i++) {\n    var stored = flow.get('selected_track_' + i);\n    node.warn('Sculpture ' + i + ': ' + (stored || 'NOT SET'));\n}\nnode.warn('=== END DEBUG ===');\n\nif (!selectedItem) {\n    node.warn('No track or playlist selected for sculpture {{ sculpture_id }}.');\n    return null;\n}\n\nnode.warn('Loading track for sculpture {{ sculpture_id }}: ' + selectedItem);\n\n// selectedItem is now just the name (string)\nmsg.payload = {\n    \"mode\": \"local\",\n    \"track\": selectedItem\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 700,
    "wires": [["debug_load_command_{{ sculpture_id }}", "mqtt_out_{{ sculpture_id }}"]]
},
{
    "id": "debug_load_command_{{ sculpture_id }}",
    "type": "debug",
    "z": "sculpture_dashboard",
    "name": "Debug Load Command {{ sculpture_id }}",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 700,
    "wires": []
},
{
    "id": "store_selected_track_{{ sculpture_id }}",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Store Selected Sample/Playlist {{ sculpture_id }}",
    "func": "// Store the selected track value\nvar selectedValue;\n\n// Handle different payload formats from dropdown\nif (typeof msg.payload === 'string') {\n    selectedValue = msg.payload;\n} else if (msg.payload && typeof msg.payload.value === 'string') {\n    selectedValue = msg.payload.value;\n} else if (msg.payload && typeof msg.payload === 'object') {\n    selectedValue = msg.payload.toString();\n} else {\n    node.warn('Unexpected payload format for sculpture {{ sculpture_id }}: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\nnode.warn('Storing track selection for sculpture {{ sculpture_id }}: ' + selectedValue);\nflow.set('selected_track_{{ sculpture_id }}', selectedValue);\n\n// Don't sync back to avoid infinite loops\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 660,
    "wires": [[]]
},
{
    "id": "tracks_in_{{ sculpture_id }}",
    "type": "mqtt in",
    "z": "sculpture_dashboard",
    "name": "Tracks and Playlists for {{ sculpture_id }}",
    "topic": "sculpture/{{ sculpture_id }}/tracks",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker",
    "x": 120,
    "y": 620,
    "wires": [["debug_tracks_mqtt_{{ sculpture_id }}", "format_tracks_{{ sculpture_id }}"]]
},
{
    "id": "debug_tracks_mqtt_{{ sculpture_id }}",
    "type": "debug",
    "z": "sculpture_dashboard",
    "name": "Debug Tracks MQTT {{ sculpture_id }}",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 350,
    "y": 580,
    "wires": []
},
{
    "id": "format_tracks_{{ sculpture_id }}",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format Tracks/Playlists {{ sculpture_id }}",
    "func": "// Convert array of strings to dropdown options\nvar items = msg.payload;\nvar options = [];\n\nnode.warn('Processing ' + items.length + ' items for sculpture {{ sculpture_id }}');\n\nif (Array.isArray(items)) {\n    items.forEach(function(item, index) {\n        if (typeof item === 'string') {\n            options.push(item);\n        } else {\n            node.warn('Skipping non-string item at index ' + index + ': ' + JSON.stringify(item));\n        }\n    });\n}\n\nnode.warn('Final options count for sculpture {{ sculpture_id }}: ' + options.length);\nmsg.options = options;\n\n// Set first item as default selection if no selection exists\nvar currentSelection = flow.get('selected_track_{{ sculpture_id }}');\nif (!currentSelection && options.length > 0) {\n    var defaultTrack = options[0];\n    flow.set('selected_track_{{ sculpture_id }}', defaultTrack);\n    msg.payload = defaultTrack;\n    node.warn('Set default track for sculpture {{ sculpture_id }}: ' + defaultTrack);\n} else {\n    msg.payload = currentSelection || '';\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 620,
    "wires": [["track_selector_{{ sculpture_id }}", "track_selector_{{ sculpture_id }}_tab"]]
},
{
    "id": "debug_format_output_{{ sculpture_id }}",
    "type": "debug",
    "z": "sculpture_dashboard",
    "name": "Debug Format Output {{ sculpture_id }}",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "options",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 550,
    "y": 580,
    "wires": []
}{% if not loop.last %},{% endif %}
{% endfor %}
