sculpture-system/server/node-red/flow_parts/sculpture/controls.json.j2
{% for sculpture_id in [1, 2, 3] %}
{
    "id": "ui_group_sculpture{{ sculpture_id }}",
    "type": "ui_group",
    "name": "Sculpture {{ sculpture_id }}",
    "tab": "ui_tab_all",
    "order": {{ sculpture_id }},
    "disp": true,
    "width": "6",
    "collapse": false
},
{
    "id": "volume_slider_{{ sculpture_id }}",
    "type": "ui_slider",
    "z": "sculpture_dashboard",
    "name": "Master {{ sculpture_id }}",
    "label": "Master",
    "tooltip": "",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "sculpture/{{ sculpture_id }}/cmd/volume",
    "topicType": "str",
    "min": 0,
    "max": 1,
    "step": 0.01,
    "range": "min,max",
    "color": "#2196F3",
    "colorBackground": "#e0e0e0",
    "x": 820,
    "y": 560,
    "wires": [["volume_format_{{ sculpture_id }}"]]
},
{
    "id": "capture_slider_{{ sculpture_id }}",
    "type": "ui_slider",
    "z": "sculpture_dashboard",
    "name": "Capture {{ sculpture_id }}",
    "label": "Capture",
    "tooltip": "",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "sculpture/{{ sculpture_id }}/cmd/capture",
    "topicType": "str",
    "min": 0,
    "max": 1,
    "step": 0.01,
    "range": "min,max",
    "color": "#2196F3",
    "colorBackground": "#e0e0e0",
    "x": 820,
    "y": 600,
    "wires": [["capture_format_{{ sculpture_id }}"]]
},
{
    "id": "sculpture{{ sculpture_id }}_mode",
    "type": "ui_text",
    "z": "sculpture_dashboard",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Mode",
    "label": "Mode",
    "format": "{% raw %}{{msg.payload}}{% endraw %}",
    "layout": "row-spread",
    "x": 420,
    "y": 440,
    "wires": []
},
{
    "id": "sculpture{{ sculpture_id }}_mute_button",
    "type": "ui_template",
    "z": "sculpture_dashboard",
    "group": "ui_group_sculpture{{ sculpture_id }}",
    "name": "Mute/Unmute Button {{ sculpture_id }}",
    "order": 6,
    "width": 0,
    "height": 0,
    "format": "{% raw %}<md-button \n    ng-style=\"{ 'background-color': msg.isMuted ? '#4CAF50' : '#f44336', 'color': 'white' }\"\n    ng-click=\"send({ payload: { 'mute': !msg.isMuted } })\">\n    <i class=\"fa {{msg.isMuted ? 'fa-volume-up' : 'fa-volume-off'}}\"></i> \n    {{msg.isMuted ? 'Unmute' : 'Mute'}}\n</md-button>{% endraw %}",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 620,
    "y": 560,
    "wires": [["mqtt_out_{{ sculpture_id }}"]]
},
{
    "id": "volume_format_{{ sculpture_id }}",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format Volume Command",
    "func": "msg.payload = {\"volume\": msg.payload};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 990,
    "y": 560,
    "wires": [["mqtt_out_{{ sculpture_id }}"]]
},
{
    "id": "capture_format_{{ sculpture_id }}",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format Capture Command",
    "func": "msg.payload = {\"capture\": msg.payload};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 990,
    "y": 600,
    "wires": [["mqtt_out_{{ sculpture_id }}"]]
},
{
    "id": "sculpture{{ sculpture_id }}_mute_state",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Mute State {{ sculpture_id }}",
    "func": "msg.isMuted = msg.payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 560,
    "wires": [["sculpture{{ sculpture_id }}_mute_button", "sculpture{{ sculpture_id }}_mute_button_tab"]]
},
{
    "id": "set_initial_volume_link_in_{{ sculpture_id }}",
    "type": "link in",
    "z": "sculpture_dashboard",
    "name": "set_initial_volume_link_in_{{ sculpture_id }}",
    "links": ["set_initial_volume_link_out"],
    "x": 620,
    "y": 520,
    "wires": [["volume_slider_{{ sculpture_id }}", "volume_slider_{{ sculpture_id }}_tab"]]
},
{
    "id": "set_initial_capture_link_in_{{ sculpture_id }}",
    "type": "link in",
    "z": "sculpture_dashboard",
    "name": "set_initial_capture_link_in_{{ sculpture_id }}",
    "links": ["set_initial_capture_link_out"],
    "x": 620,
    "y": 580,
    "wires": [["capture_slider_{{ sculpture_id }}", "capture_slider_{{ sculpture_id }}_tab"]]
},
{
    "id": "mqtt_out_{{ sculpture_id }}",
    "type": "mqtt out",
    "z": "sculpture_dashboard",
    "name": "Send to Sculpture {{ sculpture_id }}",
    "topic": "sculpture/{{ sculpture_id }}/cmd",
    "qos": "0",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 1190,
    "y": 560,
    "wires": []
}{% if not loop.last %},{% endif %}
{% endfor %} 