server/node-red/flow_parts/system/audio_controls_mqtt.json.j2
{
    "id": "audio_mqtt_out",
    "type": "mqtt out",
    "z": "sculpture_dashboard",
    "name": "Send Audio Commands",
    "topic": "system/audio/cmd",
    "qos": "0",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 840,
    "y": 400,
    "wires": []
},
{
    "id": "audio_reset_button",
    "type": "ui_button",
    "z": "sculpture_dashboard",
    "name": "Reset Audio",
    "group": "ui_group_audio",
    "order": 21,
    "width": 12,
    "height": 1,
    "passthru": false,
    "label": "🔄 Reset to Defaults",
    "tooltip": "Reset all audio processing to default values",
    "color": "white",
    "bgcolor": "#FF9800",
    "icon": "",
    "payload": "reset",
    "payloadType": "str",
    "topic": "system/audio/reset",
    "topicType": "str",
    "x": 200,
    "y": 900,
    "wires": [["audio_reset_format"]]
},
{
    "id": "audio_reset_format",
    "type": "function",
    "z": "sculpture_dashboard",
    "name": "Format Reset Command",
    "func": "msg.payload = {\"reset\": true};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 900,
    "wires": [["audio_mqtt_out"]]
} 