server/node-red/flow_parts/system/system_restart_buttons.json.j2
{
    "id": "restart_icecast2_btn",
    "type": "ui_button",
    "z": "sculpture_dashboard",
    "name": "Restart Icecast2 Button",
    "group": "ui_group_system",
    "order": 8,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Restart Icecast2",
    "tooltip": "Restart the Icecast2 server",
    "color": "white",
    "bgcolor": "#1976d2",
    "icon": "fa-refresh",
    "payload": "{\"restart\":\"icecast2\"}",
    "payloadType": "json",
    "topic": "server/cmd",
    "x": 640,
    "y": 320,
    "wires": [ ["debug_restart_cmd", "mqtt_out_system"] ]
},
{
    "id": "restart_liquidsoap_btn",
    "type": "ui_button",
    "z": "sculpture_dashboard",
    "name": "Restart Liquidsoap Button",
    "group": "ui_group_system",
    "order": 9,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Restart Liquidsoap",
    "tooltip": "Restart the Liquidsoap service",
    "color": "white",
    "bgcolor": "#388e3c",
    "icon": "fa-refresh",
    "payload": "{\"restart\":\"liquidsoap\"}",
    "payloadType": "json",
    "topic": "server/cmd",
    "x": 640,
    "y": 360,
    "wires": [ ["debug_restart_cmd", "mqtt_out_system"] ]
},
{
    "id": "debug_restart_cmd",
    "type": "debug",
    "z": "sculpture_dashboard",
    "name": "Debug Restart Commands",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 280,
    "wires": []
} 